@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .border-outline {
    -webkit-text-stroke: 0.5vw #609CFF;
  }  
}

.top-right-arrow {
  border-left: 1vw solid transparent;
  border-top: 1vw solid #609CFF;
}

.faq-b-r{
  border-top-width:3px;
}
.faq-t-l{
  border-bottom-width:3px;
}

hr {
  border: 0;
  height: 2px;
}

.terminal-input {
  -webkit-tap-highlight-color :black;
}
.terminal-input::after {
  -webkit-tap-highlight-color :black;
  content: '_';
  position: absolute;
  color: #3b82f6; /* blue-500 */
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
